body {
    width: 500px;
    font-family: "Helvetica Neue",Helvetica,"Times New Roman";
}

.option {
    box-shadow: inset 2px 2px rgba(208, 210, 208, 0.25);
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
}

.btn-info {
    box-shadow: #126171 2px 2px;
}

.btn-light {
    box-shadow: inset rgba(208, 210, 208, 0.25) 2px 2px;
}

.badge {
    box-shadow: inset 2px 2px rgba(208, 210, 208, 0.25);
}

.listDalto {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f8f9fa;
    box-shadow: inset 2px 2px rgba(208, 210, 208, 0.25);
}

.onOff {
    margin-left: 20%;

}
.btnParam{
    display:flex;
    justify-content: flex-end;
}
.myOptions{
    zoom : 2;
    display : flex;
    justify-content: space-between;
    margin-left : 5px;
}
#para{
    margin-right: 10px;
    margin-top : 5px;
}
.optionBody{
    background-color : #138496;
}
.optionBody,.optionHtml{
    height: 100%;
}
.sideBar{
    width: 350px;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: #ffffff;
    -webkit-box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
    box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
}
.ulOption{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
}
.logoOption{
    width: 50%;
    height: 50%;
    border : rgba(0, 0, 0, 0.04) 2px solid;
    border-radius: 50%;
    background-color : #fcfcfc;
    -webkit-box-shadow: inset 6px 1px 31px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: inset 6px 1px 31px 1px rgba(0,0,0,0.32);
    box-shadow: inset 6px 1px 31px 1px rgba(0,0,0,0.32);
}
.elemOption{
    margin-top : 10px;
    margin-bottom: 10px;
}
.options{
    margin-left : 100%;
    margin-right : 100%;
    width: 850px;
    background-color : white;
    padding : 15px;
    -webkit-box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
    box-shadow: 6px 1px 31px 1px rgba(0,0,0,0.32);
}
.fake{
    opacity: 0;
}
.tableOption{
    white-space:nowrap;
    width: 500px;
}
.fonce{
    background-color : rgba(0, 0, 0, 0.050);
}
.enregistre{
    display : flex;
    justify-content: flex-end;
}
.credits{
    color : #4a464b;
}
